<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DbConString" connectionString="Server=.; Database=KutuphaneOtomasyonDb; Trusted_Connection=true;" />
    <add name="KutuphaneOtomasyonu.Properties.Settings.KutuphaneOtomasyonDbConnectionString"
      connectionString="Data Source=.;Initial Catalog=KutuphaneOtomasyonDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>